@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro&display=swap");
/* HEADER */

nav {
  width: 651px;
  height: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 2%;
}
.navigation {
  display: flex;
}
nav > h3 > a {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.navigation > li > a {
  margin-left: 32px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}
a:not([href^="mailto"]) {
  text-decoration: none;
}

.navigation > li:nth-child(2) > a {
  border-bottom: 2px solid #fff;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/img/Background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-block {
  position: absolute;
  max-width: 426px;
  min-height: 292px;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 40px;
  text-align: center;
}
.hero-block img {
  width: 63px;
  height: 63px;
}
.hero-block h1 {
  color: #fff;
  max-width: 386px;
  min-height: 118px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin: 40px 0px;
}
.hero-block h2 {
  max-width: 426px;
  min-height: 56px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}

.logo img {
  transition: all 0.5s ease-in-out 0.3s;
}
.logo img:hover {
  transform: rotateY(180deg) scale(1.5);
  transform-origin: center;
}

/* Animation WEEK!  */

.stars {
  position: absolute;
  top: 13.13px;
  right: 8px;
  animation: stars 4s ease-in-out infinite;
  transition: all 0.3s;
  transform-origin: right;
}

.rays {
  position: absolute;
  top: 68.03px;
  right: 0px;
  overflow: hidden;
  animation: glow-rays 3s ease-in-out infinite;
  transition: all 0.7s;
}

.stars-mobile,
.rays-mobile {
  display: none;
}

/* @keyframes stars {
  0% {
    top: 13.13px;
    left: 415.13px;
  }
  50% {
    top: 2.13px;
    left: 387.13px;
  }
  100% {
    top: 13.13px;
    left: 415.13px;
  }
} */

@keyframes stars {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes stars-mobile {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glow-rays {
  0% {
    opacity: 0.7;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7)
      drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
  25% {
    opacity: 0.9;
    /* transform: scale(1.02); */
  }
  50% {
    opacity: 1;
    filter: drop-shadow(10px 10px 30px #fff) drop-shadow(10px 10px 35px #39c2d7)
      drop-shadow(10px 10px 50px #39c2d7);
    /* transform: scale(1.022); */
  }
  75% {
    opacity: 0.9;
    /* transform: scale(1.02); */
  }
  100% {
    opacity: 0.7;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7)
      drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
}

@keyframes glow-rays-mobile {
  0% {
    opacity: 0.9;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7)
      drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
  50% {
    opacity: 1;
    filter: drop-shadow(10px 10px 30px #fff) drop-shadow(10px 10px 35px #39c2d7)
      drop-shadow(10px 10px 50px #39c2d7);
    /* transform: scale(1.022); */
  }
  100% {
    opacity: 0.9;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7)
      drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  .hero {
    background-position: right;
  }
  nav {
    margin: 0 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navigation > li {
    display: none;
  }
  .navigation::after {
    content: "\2261";
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
  }

  .stars,
  .rays {
    display: none;
  }
  .stars-mobile,
  .rays-mobile {
    display: block;
  }

  .rays-mobile {
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    animation: glow-rays-mobile 3s ease-in-out infinite;
    transition: all 0.7s;
    z-index: 1;
  }

  .stars-mobile {
    position: absolute;
    top: 13.13px;
    right: 42px;
    animation: stars-mobile 4s ease-in-out infinite;
    transition: all 0.3s;
    transform-origin: right;
  }
}
