@import "./modules/base.scss";
@import "./modules/animations.scss";


section {
  width: 100%;
  min-height: 90vh;
}

.nav {
  max-width: 651px;
  height: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 2%;

  &__navigation {
    display: flex;
  }

  &__title--link {
    font-family:$main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
  }
  &__navigation-item--link {
    margin-left: 32px;
    font-family:$main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
  }
}

a:not([href^="mailto"]) {
  text-decoration: none;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: $main-background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__hero-block {
    position: absolute;
    max-width: 426px;
    min-height: 292px;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 40px;
    text-align: center;

    &--img {
      width: 63px;
      height: 63px;
      transition: all 0.5s ease-in-out 0.3s;

      &:hover {
        transform: rotateY(180deg) scale(1.5);
        transform-origin: center;
      }
    }

    &--headline {
      color: #fff;
      max-width: 386px;
      min-height: 118px;
      font-family: "Oswald";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      margin: 40px 0px;
    }

    &--description {
      max-width: 426px;
      min-height: 56px;
      font-family:$main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: rgba(255, 255, 255, 0.7);
      margin-top: 42px;
    }

    &--rays {
      position: absolute;
      top: 68.03px;
      right: 0px;
      overflow: hidden;
      animation: glow-rays 3s ease-in-out infinite;
      transition: all 0.7s;
    }

    &--stars {
      position: absolute;
      top: 13.13px;
      right: 8px;
      animation: stars 4s ease-in-out infinite;
      transition: all 0.3s;
      transform-origin: right;
    }

    &--rays-mobile,
    &--stars-mobile {
      display: none;
    }
  }
}

.article-section {
  background: #eeeeee;
}

.content {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 5px;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;

  &__headline {
    max-width: 669px;
    min-height: 119px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #464547;
    grid-column: 1/3;
    margin: 0 auto;
  }

  &__header {
    max-width: 426px;
    min-height: 57px;
    font-family:$main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
    margin: 20px 0;
    grid-column: 1/3;
    margin: 0 auto;
  }

  &__info--paragraph {
    max-width: 983px;
    min-height: 100px;
    font-family:$main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding: 0 30px;
  }

  &__button--read-more {
    width: 115px;
    height: 36px;
    font-family: "Oswald";
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background: #55c2d8;
    border-radius: 18px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    grid-column: 1/3;
    margin: 20px auto;
    transition: all 0.3s ease-in-out 0.3s;

    &:hover {
      transform: rotate(12deg);
      transform-origin: left;
    }
  }
}

.learn-more {
  width: 100%;
  background-image: $learn-more-bg;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;

  &__bg-image {
    top: 0;
    position: absolute;
    background-color: rgba(140, 79, 42, 0.3);
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 5px;
  }

  &__block {
    position: absolute;
    z-index: 20;
    max-width: 480px;
    min-height: 492px;
    flex-direction: column;
    gap: 50px;

    &--header {
      font-family: "Oswald";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: #fff;
    }

    &--button {
      width: 150px;
      height: 150px;
      background: #39c2d7;
      color: #fff;
      font-size: 64px;
      text-align: center;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out 0.3s;
      &:hover {
        transform: scale(0.95);
        background: #fff;
        color: #39c2d7;
        transform-origin: center;
      }
    }

    &--info {
      max-width: 390px;
      min-height: 102px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #fff;
    }
  }
}

.footer {
  width: 100%;
  min-height: 170px;
  background: #464547;
  padding: 30px 30px 60px 145px;
  display: flex;
  justify-content: space-between;

  &__block {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    &--logo {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    &--name {
      width: 92px;
      height: 16px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #fff;
    }
  }
  &__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--info,
    &--mail {
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: rgba(255, 255, 255, 0.4);
      text-decoration: none;
    }
  }

  &__copyright {
    margin-top: 5px;
    display: flex;
    align-items: end;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
}

@import "./modules/media-query.scss";