@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ih-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes stars {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes stars-mobile {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes glow-rays {
  0% {
    opacity: 0.7;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7) drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
  25% {
    opacity: 0.9;
    /* transform: scale(1.02); */
  }
  50% {
    opacity: 1;
    filter: drop-shadow(10px 10px 30px #fff) drop-shadow(10px 10px 35px #39c2d7) drop-shadow(10px 10px 50px #39c2d7);
    /* transform: scale(1.022); */
  }
  75% {
    opacity: 0.9;
    /* transform: scale(1.02); */
  }
  100% {
    opacity: 0.7;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7) drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
}
@keyframes glow-rays-mobile {
  0% {
    opacity: 0.9;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7) drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
  50% {
    opacity: 1;
    filter: drop-shadow(10px 10px 30px #fff) drop-shadow(10px 10px 35px #39c2d7) drop-shadow(10px 10px 50px #39c2d7);
    /* transform: scale(1.022); */
  }
  100% {
    opacity: 0.9;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7) drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
}
section {
  width: 100%;
  min-height: 90vh;
}

.nav {
  max-width: 651px;
  height: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 2%;
}
.nav__navigation {
  display: flex;
}
.nav__title--link {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.nav__navigation-item--link {
  margin-left: 32px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
}

a:not([href^=mailto]) {
  text-decoration: none;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/img/Background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__hero-block {
  position: absolute;
  max-width: 426px;
  min-height: 292px;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 40px;
  text-align: center;
}
.hero__hero-block--img {
  width: 63px;
  height: 63px;
  transition: all 0.5s ease-in-out 0.3s;
}
.hero__hero-block--img:hover {
  transform: rotateY(180deg) scale(1.5);
  transform-origin: center;
}
.hero__hero-block--headline {
  color: #fff;
  max-width: 386px;
  min-height: 118px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin: 40px 0px;
}
.hero__hero-block--description {
  max-width: 426px;
  min-height: 56px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}
.hero__hero-block--rays {
  position: absolute;
  top: 68.03px;
  right: 0px;
  overflow: hidden;
  animation: glow-rays 3s ease-in-out infinite;
  transition: all 0.7s;
}
.hero__hero-block--stars {
  position: absolute;
  top: 13.13px;
  right: 8px;
  animation: stars 4s ease-in-out infinite;
  transition: all 0.3s;
  transform-origin: right;
}
.hero__hero-block--rays-mobile, .hero__hero-block--stars-mobile {
  display: none;
}

.article-section {
  background: #eeeeee;
}

.content {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 5px;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.content__headline {
  max-width: 669px;
  min-height: 119px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #464547;
  grid-column: 1/3;
  margin: 0 auto;
}
.content__header {
  max-width: 426px;
  min-height: 57px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #666666;
  margin: 20px 0;
  grid-column: 1/3;
  margin: 0 auto;
}
.content__info--paragraph {
  max-width: 983px;
  min-height: 100px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 0 30px;
}
.content__button--read-more {
  width: 115px;
  height: 36px;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
  background: #55c2d8;
  border-radius: 18px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  grid-column: 1/3;
  margin: 20px auto;
  transition: all 0.3s ease-in-out 0.3s;
}
.content__button--read-more:hover {
  transform: rotate(12deg);
  transform-origin: left;
}

.learn-more {
  width: 100%;
  background-image: url(../assets/img/background-two.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}
.learn-more__bg-image {
  top: 0;
  position: absolute;
  background-color: rgba(140, 79, 42, 0.3);
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 5px;
}
.learn-more__block {
  position: absolute;
  z-index: 20;
  max-width: 480px;
  min-height: 492px;
  flex-direction: column;
  gap: 50px;
}
.learn-more__block--header {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #fff;
}
.learn-more__block--button {
  width: 150px;
  height: 150px;
  background: #39c2d7;
  color: #fff;
  font-size: 64px;
  text-align: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0.3s;
}
.learn-more__block--button:hover {
  transform: scale(0.95);
  background: #fff;
  color: #39c2d7;
  transform-origin: center;
}
.learn-more__block--info {
  max-width: 390px;
  min-height: 102px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}

.footer {
  width: 100%;
  min-height: 170px;
  background: #464547;
  padding: 30px 30px 60px 145px;
  display: flex;
  justify-content: space-between;
}
.footer__block {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.footer__block--logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.footer__block--name {
  width: 92px;
  height: 16px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
}
.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__address--info, .footer__address--mail {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
.footer__copyright {
  margin-top: 5px;
  display: flex;
  align-items: end;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }
  .hero {
    background-position: right;
  }
  .hero__hero-block--stars, .hero__hero-block--rays {
    display: none;
  }
  .hero__hero-block--stars-mobile, .hero__hero-block--rays-mobile {
    display: block;
  }
  .hero__hero-block--stars-mobile {
    position: absolute;
    top: 13.13px;
    right: 42px;
    animation: stars-mobile 4s ease-in-out infinite;
    transition: all 0.3s;
    transform-origin: right;
  }
  .hero__hero-block--rays-mobile {
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    animation: glow-rays-mobile 3s ease-in-out infinite;
    transition: all 0.7s;
    z-index: 1;
  }
  .nav {
    margin: 0 3px;
    display: flex;
    justify-content: space-between;
  }
  .nav__navigation-item {
    display: none;
  }
  .nav__navigation::after {
    content: "≡";
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
  }
  .content {
    text-align: left;
    display: block !important;
  }
  .content__headline {
    font-size: 36px;
    line-height: 48px;
    text-align: left;
    padding: 0px 170px 0px 0px;
    margin-bottom: 25px;
  }
  .content__header {
    font-size: 24px;
    text-align: left;
    margin: 0 0 25px 0;
  }
  .content__info--paragraph {
    margin-bottom: 20px;
    text-align: left;
    padding: 0;
  }
  .learn-more__block {
    text-align: center;
  }
  .learn-more__block--button {
    width: 120px;
    height: 120px;
    font-size: 48px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 30px;
    height: 300px;
    text-align: center;
  }
  .footer__block {
    margin-top: 20px;
  }
  .footer__address {
    margin: 20px 0;
    text-align: center;
  }
  .footer__address--mail {
    margin-top: 15px;
  }
  .footer__copyright {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */