@keyframes stars {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes stars-mobile {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes glow-rays {
  0% {
    opacity: 0.7;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7) drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
  25% {
    opacity: 0.9;
    /* transform: scale(1.02); */
  }
  50% {
    opacity: 1;
    filter: drop-shadow(10px 10px 30px #fff) drop-shadow(10px 10px 35px #39c2d7) drop-shadow(10px 10px 50px #39c2d7);
    /* transform: scale(1.022); */
  }
  75% {
    opacity: 0.9;
    /* transform: scale(1.02); */
  }
  100% {
    opacity: 0.7;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7) drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
}
@keyframes glow-rays-mobile {
  0% {
    opacity: 0.9;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7) drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
  50% {
    opacity: 1;
    filter: drop-shadow(10px 10px 30px #fff) drop-shadow(10px 10px 35px #39c2d7) drop-shadow(10px 10px 50px #39c2d7);
    /* transform: scale(1.022); */
  }
  100% {
    opacity: 0.9;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #39c2d7) drop-shadow(0 0 20px #39c2d7);
    /* transform: scale(1); */
  }
}/*# sourceMappingURL=animations.css.map */