@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro&display=swap");

$main-background: url(../assets/img/Background.png);
$learn-more-bg: url(../assets/img/background-two.png);
$main-font: "Source Sans Pro";
$secondary-font: "Oswald";
$main-color :#fff;
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ih-center {
  display: flex;
  align-items: center;
  justify-content: center;
}