@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  .hero {
    background-position: right;

    &__hero-block {
      &--stars,
      &--rays {
        display: none;
      }

      &--stars-mobile,
      &--rays-mobile {
        display: block;
      }

      &--stars-mobile {
        position: absolute;
        top: 13.13px;
        right: 42px;
        animation: stars-mobile 4s ease-in-out infinite;
        transition: all 0.3s;
        transform-origin: right;
      }
      &--rays-mobile {
        position: absolute;
        top: 0px;
        right: 0px;
        overflow: hidden;
        animation: glow-rays-mobile 3s ease-in-out infinite;
        transition: all 0.7s;
        z-index: 1;
      }
    }
  }

  .nav {
    margin: 0 3px;
    display: flex;
    justify-content: space-between;

    &__navigation {
      &-item {
        display: none;
      }

      &::after {
        content: "\2261";
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .content {
    text-align: left;
    display: block !important;

    &__headline {
      font-size: 36px;
      line-height: 48px;
      text-align: left;
      padding: 0px 170px 0px 0px;
      margin-bottom: 25px;
    }

    &__header {
      font-size: 24px;
      text-align: left;
      margin: 0 0 25px 0;
    }

    &__info--paragraph {
      margin-bottom: 20px;
      text-align: left;
      padding: 0;
    }
  }

  .learn-more {
    &__block {
      text-align: center;
      &--button {
        width: 120px;
        height: 120px;
        font-size: 48px;
      }
    }
  }


  .footer{
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 30px;
    height: 300px;
    text-align: center;

    &__block{
        margin-top: 20px;
    }

    &__address{
        margin: 20px 0;
    text-align: center;
    &--mail{
        margin-top: 15px;
    }
    }

    &__copyright{
        display: none;
    }
  }
}
