@charset "UTF-8";
@media (max-width: 768px) {
  header {
    padding: 20px;
  }
  .hero {
    background-position: right;
  }
  .hero__hero-block--stars, .hero__hero-block--rays {
    display: none;
  }
  .hero__hero-block--stars-mobile, .hero__hero-block--rays-mobile {
    display: block;
  }
  .hero__hero-block--stars-mobile {
    position: absolute;
    top: 13.13px;
    right: 42px;
    animation: stars-mobile 4s ease-in-out infinite;
    transition: all 0.3s;
    transform-origin: right;
  }
  .hero__hero-block--rays-mobile {
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    animation: glow-rays-mobile 3s ease-in-out infinite;
    transition: all 0.7s;
    z-index: 1;
  }
  .nav {
    margin: 0 3px;
    display: flex;
    justify-content: space-between;
  }
  .nav__navigation-item {
    display: none;
  }
  .nav__navigation::after {
    content: "≡";
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
  }
  .content {
    text-align: left;
    display: block !important;
  }
  .content__headline {
    font-size: 36px;
    line-height: 48px;
    text-align: left;
    padding: 0px 170px 0px 0px;
    margin-bottom: 25px;
  }
  .content__header {
    font-size: 24px;
    text-align: left;
    margin: 0 0 25px 0;
  }
  .content__info--paragraph {
    margin-bottom: 20px;
    text-align: left;
    padding: 0;
  }
  .learn-more__block {
    text-align: center;
  }
  .learn-more__block--button {
    width: 120px;
    height: 120px;
    font-size: 48px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 30px;
    height: 300px;
    text-align: center;
  }
  .footer__block {
    margin-top: 20px;
  }
  .footer__address {
    margin: 20px 0;
    text-align: center;
  }
  .footer__address--mail {
    margin-top: 15px;
  }
  .footer__copyright {
    display: none;
  }
}/*# sourceMappingURL=media-query.css.map */